apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dev
commonLabels:
  env: dev
namePrefix: dev-
bases:
  - ../base
resources:
  - namespace.yaml
patches:
  - path: rhino-deployment-patch.yaml
    target:
      kind: Deployment
      name: rhino-deployment
  - path: rhino-ingress-patch.yaml
    target:
      kind: Ingress
      name: rhino-ingress
  - path: rhino-secret-patch.yaml
    target:
      kind: Secret
      name: rhino-certificado