apiVersion: apps/v1
kind: Deployment
metadata:
  name: rhino-deployment
  namespace: dev
  labels:
    app: rhino
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: rhino
          resources:
            requests:
              memory: "100Mi"
              cpu: "10m"
            limits:
              memory: "250Mi"
              cpu: "50m"